{% extends "base.html" %}

{% block content %}
<table>

    <tr>
        <td>{{math.operation}}</td>
        <td>{{math.arg_a}}</td>
        <td>{{math.arg_b}}</td>
        <td>{{wynik}}</td>
        <td>{{math.user}}</td>
    </tr>

</table>

<a href="/maths">back</a>
{% endblock %}

<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title>Lista szczegółów</title>-->
<!--</head>-->
<!--<body>-->

<!--<table>-->

    <!--<tr>-->
        <!--<td>{{math.operation}}</td>-->
        <!--<td>{{math.arg_a}}</td>-->
        <!--<td>{{math.arg_b}}</td>-->
        <!--<td>{{wynik}}</td>-->
    <!--</tr>-->

<!--</table>-->

<!--<a href="/maths">back</a>-->

<!--</body>-->
<!--</html>-->